{% if cheese %}
    <div class="center">

    <img src="http://31.media.tumblr.com/76a27de0d9a83167b4581be0764e8b0a/tumblr_mt4rrsLsTV1s080geo1_400.gif" alt="CHEESEMILL" />
    <form action="/">
        <button type="submit" class="btn btn-primary">GROSS</button>
    </form>
    </div>
{% endif %}
