{% if result %}
    <div class="alert alert-{{ result.type }}" role="alert">
        {{ result.text }}
        </p>
        <form action="/">
            <button type="submit" class="btn btn-primary">Again?</button>
        </form>
    </div>
{% endif %}
