{% if result %}
    <div class="result">
        {{ result.text }}
        </p>

    </div>
    <form action="/">
        <button type="submit" class="btn btn-primary">Again?</button>
    </form>
{% endif %}
