<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
  </head>
  <body>
    <div class="container">
        <h1>Word counter!</h1>
        {% include '/includes/form.html.twig' %}
        {% include '/includes/result.html.twig' %}
        {% include '/includes/cheeseform.html.twig' %}
        {% include '/includes/cheese.html.twig' %}
    </div>

    <footer>&#169 Marika's neat</footer>
  </body>
</html>
