<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
  </head>
  <body>
    {% include '/includes/navbar.html.twig' %}
    <div class="container">
        <h1>Word counter!</h1>
        <h4>Input a word and a chunk of text to search to count the number of times your word appears there.</h4>
        {% include '/includes/form.html.twig' %}
        {% include '/includes/message.html.twig' %}
        {% include '/includes/result.html.twig' %}

    </div>
  </body>
</html>
